* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
 list-style-type: none;
}

li:hover {
    text-decoration: underline;
    cursor: pointer;
}

a {
    text-decoration: none;
}

/* Body */
body {
    height: 100vh;
    overflow: hidden;
}

/* Header */
.header {
    display: flex;
    justify-content: flex-end;
    padding: 0px 4px 0px 32px;
    font: 13px;
    font-family: arial,sans-serif;
}

.header ul {
    display: flex;
    align-items: center;
}

.header ul li {
    margin: 5px 10px;
    color: black;
}

.header ul li a{
    color: black;
}


.header ul img {
    border-radius: 50%;
    width: 35px;
    height: 35px;
}

/* Hero */
.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.hero .form-container form{
    position: relative;
}

.hero .form-container form label.search-icon{
    position: absolute;
    left: 10px;
    top: 9px;
}

.hero .form-container form label.search-icon i{
    color: #9aa0a6;
}

.hero .form-container form label.microphone-icon{
    position: absolute;
    right: 10px;
    top: 9px;
}

.hero .form-container form label.microphone-icon i{
    color: blue;
}

.hero .form-container form input {
    padding: 10px;
    width: 300px;
    border: 1px solid #dfe1e5;
    border-radius: 30px;
    outline: none;
    

}

.hero .search-buttons{
    margin-top: 15px;
}

.hero .search-buttons button{
    background-color: #f8f9ff;
    border: 1px solid #f8f9ff;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
}

.hero .search-buttons button a{
    color: #3c4043
}


.hero .search-buttons button:hover {
    border: 1px solid #b3b3b3;
    box-shadow: 0 2px 4px #cccccc;
}

/* Footer */
.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f2f2f2;
    padding: 15px 0;
    font-family: arial,sans-serif;
    color: #70757a;
}

footer p {
    font-weight: 400;
    border-bottom: 1px solid #a8adb3;
    padding: 0 30px 10px;
}

.footer .footer-links{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}

.footer .footer-links ul {
    display: flex;
    flex-wrap: wrap;
    padding: 15px 0;

}

.footer .footer-links ul li {
    margin: 0 10px;
    font-size: 14px;
}

.footer .footer-links ul li a {
    color: #70757a;
}

@media(min-width: 500px){
    .hero .form-container form input{
        width: 400px;
    }
}

@media(min-width: 640px){
    .hero .form-container form input{
        width: 500px;
    }
}

@media(min-width: 768px){
    .hero .form-container form input{
        width: 650px;
    }
}

@media(min-width: 1280px){
    .footer .footer-links {
        justify-content: space-between;
        padding: 0 30px;
    }
}